@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	@apply bg-gradient-to-br;
	@apply from-cyan-300 to-red-300;
}